# commands:
#     setvars:
#         command: /opt/elasticbeanstalk/bin/get-config environment | jq -r 'to_entries | .[] | "export \(.key)=\"\(.value)\""' > /etc/profile.d/sh.local
container_commands:
    01_npx_upgrade_migration:
        leader_only: true
        command: npm install -g npm@latest
    02_npx_version_migration:
        leader_only: true
        command: npx -v
    03_clean_hooks_migration:
        leader_only: true
        command: rm -rf .git/hooks && npm install
    04_database_migration:
        leader_only: true
        ignoreErrors: true
        command: npm run dbmigrate